.env
.env.*
composer.phar
/.idea
/node_modules
/public/storage
/vendor

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# netbeans
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
 
/nbproject/